* { font: 18px/22px Helvetica }

body {
  padding: 0;
  margin: 0;
}

#monster-source {
  display: none;
}

.dungeon {
  width: 50%;
  float: left;
}

.dungeon-inner {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px dotted #000000;
  padding: 10px;
}

.dungeon-inner.last {
  margin-right: 0;
  border-right: none;

}

.dungeon h1 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 0;
}

.divider {
  margin: 10px 0;
  padding: 0;
  border-top: 1px dotted #000000;
}

.add-monster {
  float: right;
}

.monster {
}

.monster .copy-monster, .monster .delete-monster {
  display: none;
}

input, select, .monster, #results, #results li {
  margin: 3px 0;
}

input[type=text], select {
  font-weight: bold;
}

input[type=text] {
  border: 1px solid #555555;
  text-align: center;
}

select {
  padding: 1px;
}

.name {
  width: 26px;
}

.conditions {
  width: 120px;
}

.hp, .damage, .plus, .result {
  width: 40px;
}

#rolls {
  margin: 10px;
}

#results {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}

#results li {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

#results li:before {
  content: "+" counter(item);
  counter-increment: item;
  display: inline-block;
  width: 35px;
  text-align: right;
}

#results li:nth-of-type(11) {
  clear: both;
}


.clear {
  clear: both;
}
